<div>
    <img src="/assets/images/logo.jpg" alt="">
    <div class="textImage">
        <h1>Welcome to Online Store !</h1>
        <p>The best store ever !</p>
    </div>
    <div class="row container">
        <div class="alert alert-secondary" role="alert">
            <span class="material-icons">store</span>
            <br>
                available products in our store : {{products}}
          </div>
          <div class="alert alert-secondary" role="alert">
            <span class="material-icons">shopping_cart</span>
            <br>
            total orders in our store : {{orders}}  
          </div>
    </div>
</div>
